@*@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>*@
<div class="container">
    <p>
        <h3>Misión</h3><br />
        <h4>
            Ejecutar los proyectos de instalación y mantenimiento de equipos industriales de GNC a nivel nacional, con eficacia, cumpliendo los plazos para lograr que las empresas industriales, comerciales y de servicio, cuenten con la seguridad de conexiones para transportar un combustible eficiente, limpio y con un menor coste de operación.
        </h4>
        <br />
        <h3>Visión</h3><br />
        <h4>En el 2021, con un equipo altamente efectivo, seremos líderes en participación de mercado, con el mejor posicionamiento de marca, reconocidos como el número uno en servicio y por nuestro compromiso, eficiencia, seguridad y calidad con el país.</h4>
        <br />
        <h3><strong>Valores</strong></h3><br />
        <h3>Integridad</h3><br /> <h4>Nos comprometemos a actuar con honestidad, rectitud, dignidad y ética. La dirección del grupo actúa con transparencia y responsabilidad ante todas las partes interesadas.</h4>
        <br />
        <h3>Orientación al cliente</h3> <br /><h4>Conocemos a nuestros clientes y queremos proporcionarles un servicio excelente y una respuesta inmediata y eficaz.</h4>
        <br />
        <h3>Responsabilidad social</h3> <br /><h4>Aportamos a la sociedad con nuestros conocimientos, capacidad de gestión, creatividad, medioambiental y social.</h4>
        <br />
        <h3>Respeto</h3> <br /><h4>Conocer el valor propio y honrar el valor de los demás es la verdadera manera de ganar respeto, <i><strong>SEGURinter</strong></i> reconoce el valor y los derechos de los individuos de la sociedad.</h4>
        <br />
        <h3>Confianza</h3><br /><h4>  SEGURinter mantiene una seguridad firme con todo el equipo de trabajo que implica respeto, compromiso y lealtad.   </h4>
    </p>
</div>