
@{
    ViewBag.Title = "Clientes";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="~/Content/images/clientetab.JPG" class="img-responsive"  alt="" />
        </div>
       
    </div>

</div>

