<div class="containergallery">

    
    <div class="menu">
        <ul>
            <li class="todos active"><a href="#" class="btn-menu" data-filter="todos">todos</a></li>
            <li class="laptop"><a href="#" class="btn-menu" data-filter="laptop">Gas</a></li>
            <li class="camara"><a href="#" class="btn-menu" data-filter="camara">GLP</a></li>
            <li class="iphone"><a href="#" class="btn-menu" data-filter="iphone">Industriales</a></li>
            <li class="audifono"><a href="#" class="btn-menu" data-filter="audifono">Montajes</a></li>

        </ul>
    </div>
    <div class="gallery">
        <div class="title-img">
            <h3> galeria de fotos</h3>
        </div>
        <div class="box-img laptop">

            <img src="~/Content/images/gas1.jpg" alt="" height="100%" />
        </div>
        <div class="box-img camara">

            <img src="~/Content/images/gas2.jpg" alt="" height="100%"/>
        </div>
        <div class="box-img iphone">

            <img src="~/Content/images/gas3.jpg" alt="" />
        </div>
        <div class="box-img audifono">
            <img src="~/Content/images/gas4.jpg" alt="" />
        </div>

        <div class="box-img laptop">

            <img src="~/Content/images/gas5.jpg" alt="" />
        </div>
        <div class="box-img camara">

            <img src="~/Content/images/glp1.jpg" alt="" />
        </div>
        <div class="box-img iphone">

            <img src="~/Content/images/glp2.jpg" alt="" />
        </div>
        <div class="box-img audifono">
            <img src="~/Content/images/glp3.jpg" alt="" height="100%"/>
        </div>
        <div class="box-img audifono">
            <img src="~/Content/images/id1.jpg" alt="" height="100%" />
        </div>
    </div>
</div>